@import "variables";
@import "sain-mixins";
@import "account-management";
@import "commerce-cta";
@import "commerce-dropdown";
@import "commerce-item";
@import "commerce-button";
@import "commerce-topbar-button";
@import "commerce-panel";
@import "commerce-cart";
@import "commerce-cart-item";
@import "minium-frame";
@import "minium-card";
@import "minium-product-tiles";
@import "minium-products-compare";
@import "product-compare-checkbox";
@import "add-to-cart-button";
@import "commerce-quantity-selector";

@import "product-detail";
@import "minium-product-header";
@import "minium-product-gallery";

// All Vendor & plugins CSS include
@import "vendor";
@import "slick";
@import "slick-theme";

// Main Style CSS
@import "style";
@import "fonts";


@import "./overrides/base.scss";
@import "./overrides/checkout-page.scss";
@import "./overrides/input.scss";
@import "./overrides/modal.scss";
@import "./overrides/nav.scss";
@import "./overrides/order-detail-page.scss";
@import "./overrides/panel.scss";
@import "./overrides/portlet.scss";
@import "./overrides/search-bar.scss";
@import "./overrides/table.scss";

body.signed-in {
  margin: 61px 0 0;
}

.modal-open .modal {
  //opacity: 1;
  //visibility: visible;
}
.portlet {
  margin-bottom: 0px;
}
.signed-in .sticky.is-sticky {
  //position: relative;
}
.mini-cart-wrap .autofit-row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.commerce-title {
  font-size: 14px;
  line-height: 40px;
}
.commerce-btn {
  padding: 7px !important;
  margin: 5px;
  border: navajowhite;
}
.commerce-description, .commerce-value {
  font-weight: bold;
}
.taglib-asset-categories-navigation {
  .panel-default {
    margin-bottom: 30px;
    padding: 25px 15px;
    border: 1px solid #e5e5e5;
  }
  .panel-title.h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-top: -3px;
    background: #fff;
  }
  a {
    color: #000000;
  }
}

%commerce-search-facet {
  .search-facet {
    border-width: 0;
    margin-bottom: 1px;

    .panel-heading {
      border-bottom: 1px solid #D4D4D4;
    }

    .panel-title {
      color: $body-color;
      font-size: 1.25rem;

      > a {
        //padding: 0.5rem 2rem 1.5rem 0.25rem;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .panel-body {
      padding: 1.25rem 0.25rem;
    }

    .collapse-icon {
      .lexicon-icon {
        display: none;
      }
    }

    .collapse-icon-closed, .collapse-icon-open {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 1rem;
      height: 2rem;
      right: 0;
      width: 2rem;
    }

    .collapse-icon-closed {
      background-image: clay-icon(plus, $color-theme);
    }

    .collapse-icon-open {
      background-image: clay-icon(hr, $color-theme);
    }

    .facet-checkbox-label {
      color: #676767;
      font-size: 1.125rem;

      .term-count {
        font-size: 100%;
        margin-left: 0.25rem;
      }
    }
  }
}

// Search Facet

  .panel-group {
    @extend %commerce-search-facet;
  }

  .sain-cart-actions{
    text-align: center;
  }

  #sain-commerce-theme{
    input[type="checkbox"] {
      -webkit-appearance: none;
      background: #FFF;
      border: 2px solid rgba(157, 158, 158, 0.5);
      border-radius: 4px;
      height: 16px;
      position: relative;
      width: 16px;

      &::after {
        border-bottom: 2px solid $color-theme;
        border-left: 2px solid $color-theme;
        content: '';
        height: 5px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -63%) rotate(-45deg) scale(0);
        transition: all $micro-transition;
        width: 8px;
      }

      &:checked {
        border-color: $color-theme;

        &::after {
          transform: translate(-50%, -63%) rotate(-45deg) scale(1);
        }
      }
    }
  }

  .product-detail-description{
    .nav-underline{
      justify-content: left;
      .nav-item {
        text-transform: none;
        padding: 15px 15px 0;
      }
      .nav-item .nav-link.active::after {
        height: 3px;
        left: calc(25%);
        width: 50%;
      }

    }

    .tab-content{
      padding-top: 15px;
    }

  }

.search-box-wrapper {
  fieldset {
    margin: 7px auto;
    width: 96%;
  }
  .form-control {
    border-width: 0;
  }
  .input-group-inset-item-after {
    background: #ff5f00;
    color: #fff;
    border-radius: 50%;
  }
  .input-group-inset:focus ~ .input-group-inset-item {
    background-color: #ff5f00;
    border-color: #fff;
  }
}

.commerce-topbar-button {
  float: right;
}
.header-top-settings .user-avatar-image, .header-top-settings .user-full-name {
  display: inline-flex;
}
.breadcrumb-item + .breadcrumb-item::before {
    transform: rotate(180deg);
}
.minium-card__description {
  display: none;
}
.minium-card__actions {
  position: absolute;
  bottom: 5px;
}
svg.lexicon-icon.lexicon-icon-cart {
  font-size: 35px;
  margin: 0;
}
.pagination-items-per-page > a, .pagination-items-per-page > .btn-unstyled {
  color: #44556f;
}
.pagination > li.active > a, .pagination > li.active > a:hover, .pagination > li.active > a:focus {
  background-color: #ff5f00 !important;
  border-color: #ff5f00 !important;
}
ul.breadcrumb.breccia-breadcrumb {
  margin: 0;
  background: none;
}
.breadcrumb-link {
  display: block;
  color: #ff5f00;
}
.minium-card__name {
  margin-bottom: 10px;
  color: #44556f;
  line-height: 1.5;
}
.minium-card__name:hover {
  text-decoration: none;
}
span.price__value.price__value--big {
  color: #39ae00;
  font-weight: bold;
}
.form-inline.form-group {
  display: flex;
}
.commerce-button.commerce-button {
  background-color: #ffffff;
  border: 1px solid currentColor !important;
  color: #ff5f00;
}
.commerce-button.commerce-button:hover {
  color: #44556f;
}
.pagination > li > a {
  color: #44556f;
}
a {
  color: #44556f;
}
.portlet-content-editable {
  box-shadow: none !important;
}
.commerce-button.commerce-button.add-to-cart-button--compact--edit {
  border: 0 !important;
}
.commerce-button.commerce-button--small.commerce-button--good.add-to-cart-button.add-to-cart-button--compact {
  border: 0 !important;
}
.add-to-cart-button--compact__ok .added-quantity {
  color: #fff;
}
td.commerce-compare-table__value {
  text-align: center;
}
td.commerce-compare-table__card {
  width: 20%;
}
section#portlet_com_liferay_login_web_portlet_LoginPortlet .form-group.input-select-wrapper:nth-child(2) {
  display: none;
}
div#_com_liferay_login_web_portlet_LoginPortlet_userNameFields .form-group:nth-child(1) {
  display: none;
}
div#_com_liferay_login_web_portlet_LoginPortlet_userNameFields .form-group:nth-child(3) {
  display: none;
}
div#_com_liferay_login_web_portlet_LoginPortlet_userNameFields .form-group:nth-child(5) {
  display: none;
}
ul.nav.align-items-center.justify-content-center,ul.nav.justify-content-end {
  flex-direction: unset;
}
tr.commerce-compare-table__separator {
  background: #eaeaea;
  td {
    padding: 5px 15px;
  }
}
/*--------------------------- login ------------------------------- */

form#_com_liferay_commerce_checkout_web_internal_portlet_CommerceCheckoutPortlet_fm {
  .col-md-4 {
    .title {
      font-size: 15px;
      background-color: #F5F7FB;
      border: 1px solid rgba(0,40,100,0.12);
      padding: 15px;
      color: #44556f;
    }
    .navigation {
      background-color: #F5F7FB;
      border: 1px solid rgba(0,40,100,0.12);
      font-size: 15px;
      border-top: 0 !important;
      padding: 15px;
      li {
          float: none;
          margin: 0;
        &:first-child {
          a {
            background-color: #db3d29 !important;
            border-color: #db3d29 !important;
            color: white !important;
            display: block;
            padding: 2px 1px;
            border-radius: 2px;
            text-align: center;
            margin-bottom: 15px;
            line-height: 40px;
            text-decoration: unset;
            i {
              position: absolute;
              left: 35px;
              padding: 8px 10px;
              font-size: 25px;
              background-color: #db3d29;
              color: #ffffff;
            }
          }
        }
        &:nth-child(2) {
          a {
            background-color: #467fcf !important;
            border-color: #467fcf !important;
            color: white !important;
            display: block;
            padding: 2px 1px;
            border-radius: 2px;
            text-align: center;
            margin-bottom: 15px;
            line-height: 40px;
            text-decoration: unset;
            i {
              position: absolute;
              left: 35px;
              padding: 8px 10px;
              font-size: 25px;
              background-color: #467fcf;
              color: #ffffff;
            }
          }
        }
        &:last-child {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
  .col-md-8 {
    .title {
      background-color: #F5F7FB;
      border: 1px solid rgba(0,40,100,0.12);
      font-size: 15px;
      padding: 15px;
      color: #44556f;
    }
    .fieldset {
      background: #F5F7FB;
      border: 1px solid rgba(0,40,100,0.12);
      padding: 15px;
      border-top: 0 !important;
      .control-label {
        letter-spacing: unset;
        color: black;
      }
    }
  }
  .form-control {
    background-color: #fff;
    border: 1px solid rgba(0, 40, 100, 0.12);
  }
}