.rtl {

  body {
    font-family: IranSans;
  }

  .slick-dot-style ul.slick-dots {
    left: 50%;
    right: auto;
  }

  .header-top-settings ul li .dropdown-list {
    right: 0;
  }

  .aspect-ratio-item-center-middle, .sticker-img {
    left: 50%;
    right: auto;
  }
  .multi-step-indicator .multi-step-indicator-label {
    left: 50%;
    right: auto;
  }
  .nice-select:after {
    border-left: 0;
    border-right: 1px solid #999;
  }
}

[dir='rtl'] .slick-slide {
  float: right !important;
}

#sain-commerce-theme {
  input[type="checkbox"] {
    &::after {
      border-right: none;
      border-left: 2px solid;
      left: 50%;
      right: auto;
    }
  }
}

.add-to-cart-button {
  &--compact {
    &__fwd {

      &:hover .arrow__line {
        transform: scale3d(1.4, 1, 1) translate3d(0, 0, 0);
        transform-origin: right center;

        transition: transform .2s ease-in;
      }

      &:hover .arrow__tip {
        transform: translate3d(5px, 0px, 0);
        transition: transform .18s ease-in;
      }

      & .arrow {
        align-items: center;
        display: flex;

        &__line {
          transform: scaleX(.70);
          transform-origin: left center;
        }

        &__tip {
          transform: translateX(16px);
          .lexicon-icon-greater{
            transform: rotate(180deg);
          }
        }
      }

    }
  }
}

.product-detail-description{
  .nav-underline{
    justify-content: right;
  }
  .nav-item{
    font-size: 16px;
  }
}


.minium-product-gallery__main img, .minium-product-gallery__fullscreen img {
  right: auto;
  left: 50%;
}

.minium-product-gallery__prev {
  transform: translateY(-50%) scaleX(0.75) rotate(135deg);
}

.minium-product-gallery__next {
  cursor: e-resize;
  transform: translateY(-50%) scaleX(0.75) rotate(-45deg);
}




